/* Selector universal */
* {
    background-color: cyan;
    font-family: Arial;
  }
  
  /* Selector de etiqueta para H1 */
  h1 {
    font-size: 24px;
    color: black;
  }
  a:hover {
    color: pink;
}